body {
  margin: 0;
  padding: 0;

  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}
a {
    text-decoration: none;
  }
/* {background-color: rgba(255, 0, 0, 0.2);}*/
.main-header {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  flex-wrap: wrap;
}
.main-navigation {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  flex-wrap: wrap;
  width: 100%;
}
.site-navigation,
.user-navigation,
.social,
.catalog-list {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}
.site-navigation a,
.developer-info__text,
.breadcrumbs__item:first-child,
.breadcrumbs__item:nth-of-type(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-navigation__logo {
  width: 154px;
  height: 64px;
  padding: 0;
  padding-top: 9px;
  margin: 0;
  margin-right: 24px;
}
.site-navigation {
  margin: 0;
  padding: 0;
  margin-right: auto;
}
.user-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-left: auto;
}
.user-navigation a {
  background-color: rgba(255, 255, 255, 0.2);
  
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #f7f6f3;
  color: #333333;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f8f7f4;
  color: #323232;
}
.search-form,
.catalog-menu,
.enter-form,
h1,
.basket-form,
.basket-form__summ,
.basket-form__button,
.modal-form,
.modal__title,
 .modal__button-close,
 .slider-promo,
 .promotion,
 .pagination-list,
 .map,
 .subscribe__form {
  display: none;
}
.shop-info {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: -15px;
  text-align: right;
  color: #ffffff;
}
.shop-info__time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; 
}
.shop-info__phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.button {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-color: rgb(231, 74, 53);
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  color: #ffffff;
  border: none;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0 rgb(172, 16, 0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}
.features {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee0c5;
  background-image: url("../img/features-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
  color: #323232;
  margin-bottom: 40px;
}
.features__title {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  line-height: 30px;
  padding-left: 21px;
  padding-top: 24px;
  padding-bottom: 22px;
}
.features__text {
  width: calc(50% - 91px);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  padding-left: 76px;
  padding-right: 15px;
} 
.wrapper-article {
  margin-bottom: 39px;
  display: flex;
}
.article {
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 15px;
  margin-right: 26px;
  width: calc(50% - 13px);
}
.article__item {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #323232;
}
.article__link {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.article__link h3 {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 258px;
  padding-bottom: 78px;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.article__link:hover h3,
.article__link:focus h3,
.article__link:hover,
.article__link:focus,
.links a:hover,
.links a:focus,
.developer-info a:hover,
.developer-info a:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}
.subscribe {
  background-color: #f8f7f4;
  color: #5a5a5a;
  border-radius: 10px;
  /*ниже попытка оформить рамочку-не доделано*/
  box-sizing: border-box;
  width: calc(50% - 13px);
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-image-source: url("../img/subscribe-border.svg");
  border-image-slice: 5;
  border-image-repeat: stretch;
  background-clip: padding-box;
}
.subscribe__text {
  padding: 0;
  margin: 0;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 29px;
  padding-bottom: 34px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.main-footer {
  color: #ffffff;
  background-color: #849d8f;
  margin-top: 0;
}
.social {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.social__button {
  display: block; 
  border:3px solid rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.social__button:hover,
.social__button:focus {
  opacity: 1;
  border:3px solid rgba(255, 255, 255, 0.7)
}
.social__button--1 {
  background-image: url("../img/icon-twitter.svg");
}
.social__button--2 {
  background-image: url("../img/icon-instagram.svg");
}
.social__button--3 {
  background-image: url("../img/icon-fb.svg");
}
.social__button--4 {
  background-image: url("../img/icon-vk.svg");
}
.links {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 100px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
.links a{
  display: block;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.links__block1 .links__item:first-child {
  font-weight: bold;
}
.links__block1 {
  display: flex;
  flex-wrap: wrap;
  width: 36%;
}
.links__block2 {
  width: calc(64% - 32px);
}
.developer-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 26px;
}
.developer-info__link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
  padding: 0;
  margin: 0;
}
.developer-info__link img {
  padding: 0;
  margin: 0;
}
.developer-info__link p {
  padding: 0;
  margin: 0;
}
.catalog-list__button {
  display: none;
}
.site-navigation__item--color a {
  background-color: #d07058;
}
.user-navigation__item--basket2 a{
  background-color: #f8f7f4;
  color: #323232;
}
.breadcrumbs__item,
.breadcrumbs span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}
.container__title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

}
/*.catalog-list__text span:first-of-type,*/
.products {
  margin-bottom: 80px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.catalog-list__item {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 27px);
}
.catalog-list__img {
  line-height: 0;
  border-radius: 100%;
  overflow: hidden;
}

.catalog-list__text {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: -57px;
}
.catalog-list__text--1 {
  font-size: 30px;
}
.catalog-list__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 15px 18px 0 12px;
  vertical-align: top;
  margin-bottom: 36px;
}
.slider-promo__block {
  color: #ffffff;
}
.slider-promo__block--1 {
  background-color: #849d8f;
  background-image: url("../img/group-1.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 859px;
}
.slider-promo__block--2 {
  background-color: #8996a6;
  background-image: url("../img/group-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 859px;
}
.slider-promo__block--3 {
  background-color: #9d8b84;
  background-image: url("../img/group-3.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 859px;
}
.slider-promo__title {
  padding-top: 500px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.slider-promo__button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}
.promotion-block {
  color: #ffffff;
}
.promotion-block h2 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: left; 
}
.promotion-block p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}
.promotion-block__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.slider-point {
  list-style: none;
}
.slider-point__item {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border:2px solid #ffffff;
  background-color: transparent;
}
.slider-point__item--current {
  background-color: #ffffff;
}
.slider-point__item:hover,
.slider-point__item:focus {
  background-color: rgba(248, 247, 244, 0.4);
}
.slider-point__item--current:hover,
.slider-point__item--current:focus {
  background-color: #ffffff;
}
.promotion-block {
  color: #ffffff;
}
.promotion-block h2 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  line-height: 41px;
}
.promotion-block p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}
.promotion-block__button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.promotion-block--color1 {
  background-color: #630b26;
  background-image: url("../img/malina.jpg");
  width: 560px;
  height: 229px;
  border-radius: 15px;
}
.promotion-block--color2 {
  background-color: #6f3d19;
  background-image: url("../img/chokolate.jpg");
  width: 560px;
  height: 229px;
  border-radius: 15px;
}
.map__img {
  background-color: #f7f1d9;
  background-image: url("../img/map.jpg");
  height: 430px;
}
.map {
  position: relative;/*test*/
}
.map__info {
  position: absolute;
  top: 63px;
  left: 871px;
  z-index: 2;
  background-color: #ffffff;
  color: #323232;
  width: 302px;
  height: 305px;
  border-radius: 5px; /*test*/
}
.map__info p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  color: #323232;
}
.map__time {
  line-height: 22px;
}
.map__info b {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  text-align: left;
}
.map__phone {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
  text-align: left;
}
.map__button {
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
.pagination-list {
  list-style: none;
}
.pagination-list__item  {
  width: 27px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
}
.pagination-list__item a{
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
/*выровнять цифры по центру!*/
.pagination-list__item--disabled a{
  opacity: 0.2;
}
.pagination-list__item--current{
  background-color: #ffffff;
}
.pagination-list__item--current a {
color: #323232;
}
.pagination-list__item:hover,
.pagination-list__item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination-list__item--current:hover,
.pagination-list__item--current:focus {
  background-color: #ffffff;
}
.pagination-list__item--disabled:hover,
.pagination-list__item--disabled:focus {
 background-color: transparent;
}